Repository ngoworldcommunity/NGOWorld, pull requests merged in 2023-11, with the labels that each got.

#1158 fix: typo fixed in the home page
  src/components/Banners/HomeBanner.jsx
Labels: status: ready ✅, 🐞 bug, good first issue, hacktoberfest-accepted

#1169 fix: added footer to UserProfile.jsx and removed footer from Events.jsx
  package-lock.json
  src/pages/Event/AllEvents/Events.jsx
  src/pages/User/UserProfile.jsx
Labels: status: ready ✅, 🐞 bug, hacktoberfest-accepted

#1168 docs: typo in docs/CloneSetup.md from repo to repository
  docs/CloneSetup.md
Labels: 📚 docs, hacktoberfest-accepted, status: todo ⏳

#1174 fix: validation errors in signup form
  src/hooks/useFormLogic.js
  src/hooks/useValidation.js
  src/pages/Auth/AuthPage.css
  src/pages/Auth/AuthSignup.jsx
Labels: area/logic, 🐞 bug, status: need changes 🚧
